<!-- <div>
     userr Id please
  
    <input [(ngModel)]="id"  type="text">
  

  <button type="submit" (click)="fetchUser()">Get</button>
  <button type="submit"  (click)="deleteUser()">delete</button>
  </div>
  <div *ngIf="fetched==1">
      <h4>Data fetched </h4>
      Name :{{user.userName}} <br>
      userId:{{user.userId}} <br>
      gender:{{user.gender}} <br>
      mailId :{{user.mailId}} <br>
      phone Number {{user.phoneNumber}}
      <br>
      <br>
</div>
<br>
      <br>
<div>

    <div *ngIf="fetched==1">
        
    {{message}}
    </div>

    <app-add-user></app-add-user> -->
